<div class="header">
  <div class="header__logoWrp">
    <a href="/">
      <img class="header__logo" src="assets/img/logo.png" alt="">
    </a>
  </div>
  <div class="header__menuWrp">
    <div class="header__wrap">
      <a class="header__link header__link--auth" routerLink='/registration'><span>Зарегистрироваться</span><img src="assets/img/key.png" alt=""></a>
      <a class="header__link header__link--auth" routerLink='/login'><span>Войти в личный кабинет</span><img src="assets/img/user.png" alt=""></a>
    </div>
    <button (click)="clickEvent()"
    [ngClass]="status ? 'header__btn--hide' : 'header__btn--show'" class="header__btn">
      <div></div>
      <div></div>
      <div></div>
    </button>
    <div class="header__nav" [ngClass]="status ? 'header__nav--hide' : 'header__nav--show'">
      <ul class="header__navList">
        <li class="header__navItem">
          <a class="header__link" href="">Возврат или обмен</a>
        </li>
        <li class="header__navItem">
          <a class="header__link" href="">Помощь</a>
        </li>
        <li class="header__navItem">
          <a class="header__link" href="">Новости </a>
        </li>
        <li class="header__navItem">
          <a class="header__link" href=""> Контакты</a>
        </li>
      </ul>
    </div>
  </div>
  <select class="header__lang" [(ngModel)]="translationService.language">
      <option *ngFor="let language of translationService.languages" [ngValue]="language">{{language}}</option>
  </select>
</div>
