<app-header-bar></app-header-bar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<app-filter-bar></app-filter-bar>
<footer class="footer">
  <div class="footer__row footer__row--outer">
    <div class="footer__col6 footer__col6--outer">
      <div class="footer__mobileRow">
      <div class="footer__row">
        <div class="footer__col6 footer__logoWrp">
          <a href="">
            <img class="footer__logo" src="assets/img/logo.png" alt="">
          </a>
        </div>
        <div class="footer__col6">
          <p class="footer__txt">Сервис дешевых авиабилетов онлайн в Алматы и Казахстане</p>
        </div>
      </div>
      <div class="footer__social">
        <a href="">
          <img src="assets/img/vk.png" alt="">
        </a>
        <a href="">
          <img src="assets/img/face.png" alt="">
        </a>
        <a href="">
          <img src="assets/img/tele.png" alt="">
        </a>
        <a href="">
          <img src="assets/img/inst.png" alt="">
        </a>
      </div>
    </div>
      <p class="footer__txt footer__txt--desc">
        Travel Express – компания основанная в 2000 году и специализируется на продаже авиабилетов. За долгое время
        работы на рынке мы зарекомендовали себя как надежный и проверенный партнер. Все наши клиенты это наши друзья и
        мы делаем все возможное, чтобы летать через нас было удобно, экономно и приятно. С этой целью мы и создали
        сервис для поиска и покупки авиабилетов онлайн – www.avia-online.kz. Купить авиабилеты онлайн теперь можно за 5
        минут не выходя из дома.
      </p>

    </div>
    <div class="footer__col6 footer__col6--outer">
      <div class="footer__row">
        <div class="footer__col4">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="">О сервисе</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Возврат и обмен</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Способы оплаты</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Бизнесу</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Новости</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="" >Помощь</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Контакты </a>
            </li>
          </ul>
        </div>
        <div class="footer__col4">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="">Направления</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Страны</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Города</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Авиакомпании</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Аэропорты</a>
            </li>
          </ul>
        </div>
        <div class="footer__col4">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="">Визы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Регистрация на рейс</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Статьи</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Вопросы и ответы</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">Публичная оферта</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="footer__row footer__row--outer">
    <div class="footer__col6 footer__col6--outer">
        <p class="footer__txt footer__txt--cop">© avia-online.kz, 2015 - 2018</p>
    </div>
    <p class="footer__txt footer__txt--mob">
        Travel Express – компания основанная в 2000 году и специализируется на продаже авиабилетов. За долгое время
        работы на рынке мы зарекомендовали себя как надежный и проверенный партнер. Все наши клиенты это наши друзья и
        мы делаем все возможное, чтобы летать через нас было удобно, экономно и приятно. С этой целью мы и создали
        сервис для поиска и покупки авиабилетов онлайн – www.avia-online.kz. Купить авиабилеты онлайн теперь можно за 5
        минут не выходя из дома.
      </p>
    <div class="footer__col6 footer__col6--outer">
        <p class="footer__txt footer__txt--ways">Способы оплаты</p>
        <div class="footer__row footer__row--ways">
          <a class="footer__ways" href="">
            <img src="assets/img/visa.png" alt="">
          </a>
          <a class="footer__ways" href="">
            <img src="assets/img/master.png" alt="">
          </a>
          <a class="footer__ways" href="">
            <img src="assets/img/money.png" alt="">
            <span>Наличными</span>
          </a>
          <a class="footer__ways" href="">Касса Банка Центр Кредит</a>
        </div>
    </div>
  </div>
</footer>
