<div class="main">
  <div class="main__ban">
    <div class="main__wrap">
      <app-breadcrumbs-bar></app-breadcrumbs-bar>
      <h1 class="main__heading main__heading--lrg">Статьи </h1>
      <p class="main__txt main__txt--head">
          Статьи о путешествиях, авиаперелетах, ж/д транспорте, лайфхаки
      </p>
      <div class="main__row">
        <div class="main__col6">
          <img class="main__img" src="assets/img/main-art.png" alt="">
          <div class="main__overlay"></div>
        </div>
        <div class="main__col6">
          <h4 class="main__heading">33 лайфхака для путешествий по Европе или как экономить в Европе</h4>
          <p class="main__txt">
            В очередной раз пытаюсь убедить, что для путешествий по Европе не нужно много денег и хватит лишь желания и немного упоротости.
          </p>
          <p class="main__txt">
            Казалось бы, в Европе много дорогих стран, но даже в самых дорогих из них можно практически ничего не тратить. Самые большие расходы, обычно, уходят на скучную бытавуху, которая не дает совершенно никакого позитивного опыта.
          </p>
        </div>
      </div>
    </div>
  </div>

  <app-article-list></app-article-list>

</div>
