<div class="filter">
  <div class="filter__cols">
      <p (click)="clickEvent($event)" class="filter__head">направления</p>
    <ul class="filter__list">

      <li class="filter__item">
        <a class="filter__link" href=""> Алматы – Москва</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Астана – Алматы</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Алматы – Астана</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Астана – Стамбул</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Алматы – Бангкок</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Алматы – Анталия</a>
      </li>
      <li class="filter__item">
        <img src="assets/img/arr.png" alt="">
        <a class="filter__link" href="">Все направления</a>
      </li>
    </ul>
  </div>
  <div class="filter__cols">
     <p (click)="clickEvent($event)" class="filter__head">Страны</p>
    <ul class="filter__list">
      <li class="filter__item">
        <a class="filter__link" href="">Россия</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Турция</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Израиль</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Черногория</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Казахстан</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Италия</a>
      </li>
      <li class="filter__item">
        <img src="assets/img/arr.png" alt="">
          <a class="filter__link" href="">Все страны</a>
        </li>
    </ul>
  </div>
  <div class="filter__cols">
     <p (click)="clickEvent($event)" class="filter__head">Города</p>
    <ul class="filter__list">
      <li class="filter__item">
        <a class="filter__link" href=""> Астана</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Алматы</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Актау</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Москва</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Бангкок</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Стамбул</a>
      </li>
      <li class="filter__item">
        <img src="assets/img/arr.png" alt="">
          <a class="filter__link" href="">Все города</a>
        </li>
    </ul>
  </div>
  <div class="filter__cols">
     <p  (click)="clickEvent($event)"
 class="filter__head">Авиакомпании</p>
    <ul class="filter__list">
      <li class="filter__item">
        <a class="filter__link" href="">Эйр Астана</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">SCAT</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Бек Эйр</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Aeroflot</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Air France</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Alitalia</a>
      </li>
      <li class="filter__item">
        <img src="assets/img/arr.png" alt="">
          <a class="filter__link" href="">Все авиакомпании</a>
        </li>
    </ul>
  </div>
  <div class="filter__cols">
     <p (click)="clickEvent($event)"
      class="filter__head">Аэропорты</p>
    <ul class="filter__list">
      <li class="filter__item">
        <a class="filter__link" href="">Актау</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Актобе</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Алматы</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Астана</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Шереметьево</a>
      </li>
      <li class="filter__item">
        <a class="filter__link" href="">Домодедово</a>
      </li>
      <li class="filter__item">
        <img src="assets/img/arr.png" alt="">
          <a class="filter__link" href="">Все аэропорты</a>
        </li>
    </ul>
  </div>
</div>
